@import "weather-icons.css";
@import "weather-icons-wind.css";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');
@import url('typebase.css');

body {
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.weather-background {
    height: 100%;
    min-height: 100vh;
}

.today {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.conditions {
    text-align: center;
    margin-bottom: 1em;
}

.conditions h3 {
    margin-top: .5em;
}

.conditions h3 i {
    margin-right: .2em;
}

.current {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.weather-range {
    margin-left: 1.5em;
    text-align: center;
}

.weather-range-data {
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-evenly;
}

.weather-range-data > * {
    margin: auto;
    text-align: center;
}
.now .temp {
    font-size: 7em;
    margin-top: 0;
    line-height: 1em;
}

.day-background {
    background-image: linear-gradient(to top, #005ea4, #2275bb, #398cd1, #4ea4e8, #63bdff);
}

.night-background {
    background-image: linear-gradient(to bottom, #49007a, #380866, #290b52, #1c0a3e, #14022a);
}

.temp:after {
    content: "\00B0";
}

.icon {
    font-size: 1em;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
}

.search {
    padding: 1em;
}

.search-input {
    display: flex;
}

.search-input input {
    flex: 16;
    font-size: 1em;
    padding: .5em;
    border-radius: 5px 0 0 5px;
    border: 0;
}

.search-button {
    flex: 1;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.search-input .icon {
    height: 20px;
}

.hourly {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
}

.hour-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;

}

.hour-forecast .icon {
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}